<%= stylesheet_link_tag "facts.css" %>
<div class="pageBox">
  <div id= "titleBox">

    <div class ="titleTxt">
      Source Monkey
    </div>


    <div class="menuLine">
      <div class="menuLeft">
        <%= link_to "Login",login_path %>
        <%= link_to "Log out",log_out_path %>
      </div>


    <div class = "search">
      <%= form_tag facts_path, :method => 'get' do %>

          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search Fact", :name =>nil %>

      <% end %>
    </div>
    </div>
  </div>



<% if current_user != nil %>
<p><%= current_user.email %></p>
<% end %>

<%= link_to "Create New Fact",new_fact_path %>
  <div class="container">
    <div class="factInfo">
      <% @facts.each do |fact| %>
      <div class="col-xs-12">
        <div class="text-center">
          <h2><%= fact.title %></h2>
          <h6><%= fact.created_at.strftime('%b %d, %Y') %></h6>
        </div>

        <div class="text-center">
          <%= link_to "READ MORE", fact_path(fact) %>
        </div>
        <br>
      </div>
      <% end %>
    </div>
  </div>

</div>

